    @font-face {
    font-family: "kalpurush";
    src: url('../fonts/kalpurush.ttf');
}

@font-face {
    font-family: "SiyamRupali-ANSI";
    src: url('../fonts/Siyam Rupali ANSI.ttf');
}

@font-face {
    font-family: "SULEKHA";
    src: url('../fonts/SULEKHA.TTF');
}

@font-face {
    font-family: "TimesNewRoman";
    src: url('../fonts/times new roman.ttf');
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Georgia";
    src: url('../fonts/Georgia.ttf');
}

* {
    outline: none;
}

.noleft {
    padding-left: 0;
}

.noright {
    padding-right: 0;
}

.nopadding {
    padding: 0;
}

.heading {
    float: left;
    width: 100%;
    font-family: "Lucida Bright", Georgia, serif;
    font-size: 23px;
    color: #fff;
    background-color: #318ccf;
    -webkit-box-shadow: 0 5px 1px -4px black;
    -moz-box-shadow: 0 5px 1px -4px black;
    box-shadow: 0 5px 1px -4px black;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
}

.mb0 {
    margin-bottom: 0;
}

header {
    background-color: #efefef;
    border-bottom: 2px solid #79b0c4;
}

.navbar-default {
    background-color: #efefef;
    border: none;
    margin-bottom: 16px;
}

header .navbar-nav>li {
    border-left: 2px solid #bdbdbd;
}

header .navbar-nav>li:first-child {
    border: none;
}

.navbar-nav>li>a {
    color: #777!important;
    text-transform: uppercase;
    text-align: center;
    padding: 2px 15px;
    font-weight: 600;
    transition: all 0.3s ease-in;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fd954e!important;
    transition: all 0.3s ease-in;
}

.navbar-right {
    padding: 20px 0 0 0;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    padding: 5px 0;
}

.banner{
    position: relative;
    text-align: center;
    color: white;
    box-shadow: 0px 5px 4px #dddddd;
}
.btitle {
    position: absolute;
    top: 46%;
    left: 38%;
    transform: translate(-50%, -50%);
}
.btitle h1{
    font-size: 54px;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #0373b2, -3px 6px 1px #00579e;
    /* text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #73b5f8, -3px 6px 1px #00579e; */
    text-align: center;
    line-height: 1.3;
    letter-spacing: 3px;
    font-weight: bold;
    padding: 0.5rem 2rem;
    color: #fff;
    /* text-shadow: 5px 3px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1); */
   /*  text-shadow: 1px -1px 0 #767676, -1px 2px 1px #333333, -2px 4px 1px #007fff; */
    font-family: kalpurush;
}

.banner img {
    margin: 0 auto;
    width: 100%;
}


.section1 {
    float: left;
    width: 100%;
    background-color: #f8f8f8;
    padding: 40px 0;
}

.section1 .insec {
    float: left;
    width: 100%;
    padding: 0 40px;
    background-color: #fff;
    box-shadow: 0px 1px 20px #cecece;
    border: 1px solid #ddd;
}
.section1 .insec h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    color: rgba(255, 83, 51, 0.77);
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 3px double #ddd;
    margin: 15px 50px;
    padding: 20px 0 10px;
}

.section1 .insec p {
    font-family: kalpurush;
    font-size: 18px;
    color: #111111;
    line-height: 25px;
    margin-bottom: 40px;
}
.section1 .insec h2 {
    font-size: 24px;
    font-family: kalpurush;
    font-weight: 600;
    margin-bottom: 8px;
    color: #111111;
    margin-top: 18px;
}

.section1 .insec h3 {
    font-size: 19px;
    font-family: kalpurush;
    color:#111111;
}
.section1 .insec ul {
    padding-left: 70px;
}

.section1 .insec ul li {
    list-style: none;
    font-family: kalpurush;
    color:#111111;
    font-size: 19px;
    line-height: 25px;
}

.section1 .insec ul li span {
    font-weight: 600;
    padding-right: 10px;
}
.section1 .insec .hand img {
}

.section1 .blacknwhite {
    padding-bottom: 10px;
}
.section1 .insec .instruct a:hover,
.section1 .insec .instruct a:focus {
   text-decoration: none;
}
.section1 .insec .instruct h1 {
    text-align: left;
    font-size: 22px;
    text-align: center;
    font-family: kalpurush;
    margin: 0;
    padding: 0;
    border: none;
}
.section1 .insec .instruct h2 {
    text-align: left;
    font-size: 22px;
    color: #323232;
    text-align: center;
    font-family: kalpurush;
    margin: 0;
    padding: 0;
    border: none;
}
.section1 .insec .instruct a{
    color: #4285f4;
}
.section1 .insec .instruct {
    float: left;
    width: 100%;
    padding: 40px 0px 50px;
}
.section1 .nav1{
    margin: 8px 0px 40px;
    padding: 20px !important;
}

.section1 .nav1 a {
    border: 1px solid #d6d6d6;
    box-shadow: 1px 2px 0px #e4e4e4;
    padding: 9px 10px 9px 10px;
    border-radius: 20px;
    display: inline-block;
    background-color:#fcfcfcf8;
    color: #8d8d8d;
    font-family: SiyamRupali-ANSI;
    font-size: 16px;
    transition: all 0.3s ease-in;
}
.section1 .nav1 a:hover {
    text-decoration: none;
    box-shadow: 1px 2px 5px #e4e4e4;
    border: 1px solid #d6d6d6;
    background-color: #0180f0!important;
    color: #fff !important;
    transition: all 0.3s ease-in;
}
.section1 .nav1 .prev a span {
    padding-right: 10px;
}
.section1 .nav1 .next a span {
    padding-left: 10px;
}
.section1 .nav1 .next {
    float: right;
}
.section1 .nav1 h6 {
    text-align: center;
    font-family: Georgia;
    font-style: italic;
    font-size: 13px;
    color: #7f7f78;
}
.section1 .chapter {
    float: left;
    width: 100%;
    box-shadow: 0px 1px 20px #cecece;
    background-color: #fff;
    padding: 0 15px;
    border: 1px solid #ddd;
}
.btn {
    border: none;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.qbox{    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 20px #cecece;
    padding: 10px 15px 0;
    margin-top: 20px;
    border: 1px solid #ddd;}

.commentbox{
    padding: 5px 0px 15px;
}

.info {background-color: #2691dd; box-shadow: 1px 5px 3px #e4e4e4;} /* Blue */
.info:hover {background: #1f7fc4; color: #fff;     box-shadow: 1px 5px 5px #e4e4e4;}
.info a{color: #fff; text-decoration: none;}

.section1 .chapter .list1 {
    width: 100%;
    float: left;
}
.section1 .chapter ul {
    float: left;
    width: 100%;
    padding-left: 0;
}
.section1 .chapter ul li {
        list-style: none;
        padding: 10px 10px;
        background-color: #4192cc;
        box-shadow: 0px 0px 2px #dedede;
         /* border-bottom: 1px solid #e2e2e2; */
}

.section1 .chapter ul li a::selection {
    border: 2px solid red;
    background-color: white;
}
.section1 .chapter ul li:first-child {
    padding-top: 20px;
}
.section1 .chapter ul li:last-child {
    border: none;
}
.section1 .chapter ul li a {
    font-size: 15.5px;
    color: #ffffff;
}

.section1 .chapter li:hover a{
    display:block;   
    color: #ff7b62;  
}

.section1 .chapter ul :hover{
    background: #fbfbfb;
}
.section1 .chapter a:hover,
.section1 .chapter a:focus {
    text-decoration: none;
    color: #ff7b62;
} 

.section1 .chapter ul li span {
    padding-right: 8px;
    font-size: 15px;
}
.section1 .subscribe {
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 20px #cecece;
    padding: 10px 15px 0;
    margin: 20px 0;
    border: 1px solid #ddd;
}

.section1 .subscribe h1 {
    font-family: TimesNewRoman;
}

.section1 .subscribe .input-group {
    width: 100%;
}


.section1 .subscribe .input-group input {
    height: 45px;
    font-size: 14px;
    font-family: OpenSans-Regular;
    border-color: #edefef;
}

.section1 .subscribe .submit a {
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #6e797d;
    background-color: #e1e1e1;
    padding: 10px 0;
    margin-top: 10px;
    font-family: TimesNewRoman;
    font-size:18px;
    transition: all 0.3s ease-in;
}

.section1 .subscribe .submit a:hover {
    text-decoration: none;
    background-color: #69a9cd;
    color: #e5e3e3;
    transition: all 0.3s ease-in;
}

.section1 .subscribe .fbpage {
    float: left;
    width: 100%;
    padding: 10px 0 0;
}

.section1 .rightb {
    position: relative;
    float: left;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 1px 20px #cecece;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.section1 .book{
    height: 325px;
}

.section1 .book2{
    height: 325px;
}

.section1 .rightb h1 {
    margin-top: 0;
}

.section1 .rightb .book3 {
    margin: 0 auto;
}

.section1 .rightb .buy {
    position: relative;
    bottom: 80px;
    display: block;
    margin: 0 auto;
}

.section1 .nav1 {
    float: left;
    width: 100%;
    padding: 20px 0;
}

footer {
    float: left;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: #272424;
}

footer .social .fa {
    font-size: 20px;
    border: 1px solid #cccccc;
    height: 35px;
    width: 40px;
    border-radius: 4px;
    padding-top: 7px;
    margin: 5px;
    color: #cccccc;
    transition: all 0.3s ease-in;
}
footer .social .fa:hover {
    background-color: #fff;
    color: #272424;
    transition: all 0.3s ease-in;
}

footer p {
    color: #cccccc;
    font-size: 14px;
    padding-top: 10px;
}

.fbpage .fb_iframe_widget_fluid span {
    margin: 0 auto !important;
    display: block !important;
}

.section1 .qu {
    float: left;
    width: 100%;
    padding: 0 40px;
    background-color: rgb(255, 255, 255);
}

.question-holder {
    border-radius: 10px;
    border: 3px solid rgb(195, 216, 255);
    background: #f8f8f8;
    padding: 15px 25px 5px 25px;
    margin-bottom: 30px;
    font-size: 1.2em;
}
.chapter-title span {
    font-size: 20px;
    font-weight: 700;
}
.chapter-title-main {
    color: #007bff;
    margin: 0px;
}

.chapter-title-rest {
    color: #F19621;
}

.question-sub-title{
    padding: 20px;
}
.question-help{
    font-size: 13px
}

.chapter-title span {
    font-size: 20px;
    font-weight: 700;
}


table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 15px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    color: #474747;
    width: 100%;
}

th {
    background: #69a9cd;
    border-left: 1px solid #69a9cd;
    border-right: 1px solid #f1f1f1;
    border-top: 1px solid #69a9cd;
    border-bottom: 1px solid #69a9cd;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}

th:after {
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .08));
    content: '';
    display: block;
    height: 25%;
    left: 0;
    margin: 1px 0 0 0;
    position: absolute;
    top: 25%;
    width: 100%;
}

th:first-child {
    box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
    box-shadow: inset -1px 1px 0 #999;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 300ms;
}

td span{
    font-size: 17px;
}

td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}

tr {
    background: #ffffff;
}

tr:nth-child(odd) td {
    background: #fff; }
     tr:last-of-type td  {
    box-shadow: inset 0 -1px 0 #fff;
    }

    tr:last-of-type td:first-child {
        box-shadow: inset 1px -1px 0 #fff;
    }

    tr:last-of-type td:last-child {
        box-shadow: inset -1px -1px 0 #fff;
    }

